
# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json
.debug
connections.json
connections.json.portal

bicep/apiconnections.json
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
